/* -------- GLOBAL -------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eaeaea;
  color: #333;
  line-height: 1.8;
}

/* -------- STRUCTURE -------- */
.resume {
  max-width: 1100px;
  margin: 80px auto;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.columns {
  display: flex;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
}

/* -------- LEFT COLUMN -------- */
.left-column {
  width: 360px; 
  background:rgba(33, 32, 38);
  flex-shrink: 0;
  font-family: 'Poppins', sans-serif;
}

.left-column .profile img {
  width: 100%;
  margin-bottom: 25px;
}

.left-column .title {
  font-size: 0.95rem;
}

.left-column .section {
  margin-bottom: 50px;
  margin-left: 70px;
}

.left-column .section-title {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(254, 203, 0);
  margin-left: 35px;
  padding-bottom: 15px;
}

.left-column p {
  color: #eee;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.contact-item{
  margin-bottom: 30px;
}

.contact-container{
  background-color: rgba(41, 42, 47);
  height: 23px;
}

.contact-item::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 20px;
  
  background-color: rgba(254, 203, 0); 
  
  margin-right: 22px;
  vertical-align: middle;
}

.info{
  margin-left: 70px;
}

/* -------- RIGHT COLUMN -------- */
.right-column {
  flex: 1;
  background:   #ffffff;
  color: #222;
  align-items: stretch;
  font-family: 'Poppins', sans-serif;
}

.right-column header {
  padding-top: 35px;
  margin-top: 80px;
  margin-bottom: 30px;
  height: 180px;
  background: rgba(254, 203, 0);
}

.right-column h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.right-column .highlight {
  margin-top: 50px;
  width: 740px;
  color: black;
  margin-left: 70px;
}

.right-column .subtitle {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: black;
  letter-spacing: 1px;
  margin-left: 70px;
}

.right-column section {
  margin-left: 60px;
  margin-right: 50px;
}

.section-title {
  text-transform: uppercase;
  color: #111;
  border-bottom: 3px solid black;
  padding-left: 5px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 1.3rem;
}

.work-item {
  margin-bottom: 35px;
}

.work-item h6 {
  font-weight: 600;
  font-size: 1.05rem;
  color: #000;
}

.work-item span {
  margin: 0 5px;
}

.skills ul {
  list-style: none;
  margin-right: 76px;
}

.timeline-container {
            max-width: 740px;
            margin-left: 60px;
            padding: 30px;
          }
          .job-title{
            font-weight: 550;
          }
.company-name {
            margin-bottom: 10px;
            font-weight: 550;
        }

.job-description {
            line-height: 1.6;
            font-weight: 540;
}

        .job-years {
            margin-left: 60px;
        }

#chromeBar {
    width: 150px; 
    height: 5px; 
    background-color: #e0e0e0; 
}

#chromeBar::-webkit-progress-value {
    background-color: black;
}

#chromeBar::-webkit-progress-bar {
    background-color: #e0e0e0; 
    border-radius: 12px;
}

