/* -------- GLOBAL -------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eaeaea;
  color: #333;
  line-height: 1.8;
}

/* -------- STRUCTURE -------- */
.resume {
  max-width: 1100px;
  margin: 80px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.columns {
  display: flex;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
}

/* -------- LEFT COLUMN -------- */
.left-column {
  width: 360px; 
  background: #000;
  color: #f9f9f9;
  flex-shrink: 0;
}

.left-column .profile img {
  border: 3px solid #f1c40f;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 25px;
}

.left-column .name {
  color: #f1c40f;
  font-weight: 600;
  font-size: 1.5rem;
}

.left-column .title {
  color: #ccc;
  font-size: 0.95rem;
}

.left-column .section {
  margin-bottom: 50px;
}

.left-column .section-title {
  color: #f1c40f;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 2px solid #f1c40f;
  margin-bottom: 20px;
  padding-bottom: 6px;
}

.left-column p {
  color: #eee;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

/* -------- RIGHT COLUMN -------- */
.right-column {
  flex: 1;
  background: #fff;
  color: #222;
  padding: 70px 80px; 
  align-items: stretch;
}

.right-column header {
  align-items:center;
  margin-bottom: 30px;
  padding-bottom: 25px;
  background: rgb(221, 221, 2);
}

.right-column h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.right-column .highlight {
  color: black;
  margin-left: 70px;
}

.right-column .subtitle {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #777;
  letter-spacing: 1px;
  margin-left: 70px;
}

.section {
  margin-top: 50px;
  margin-bottom: 70px;
}

.section-title {
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
  border-bottom: 3px solid grey;
  padding-left: 5px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.work-item {
  margin-bottom: 35px;
}

.work-item h6 {
  font-weight: 600;
  font-size: 1.05rem;
  color: #000;
}

.work-item span {
  color: grey;
  margin: 0 5px;
}

.skills ul {
  list-style: none;
}

@media (max-width: 992px) {
  .columns {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    text-align: center;
  }

  .right-column {
    padding: 50px 30px;
  }

  .right-column h1 {
    text-align: center;
  }
}

#chromeBar {
    width: 300px; 
    height: 10px; 
    background-color: #e0e0e0; 
    border-radius: 10px;
}

#chromeBar::-webkit-progress-value {
    background-color: black;
    border-radius: 12px;
}

#chromeBar::-webkit-progress-bar {
    background-color: #e0e0e0; 
    border-radius: 12px;
}

@media print {
  body {
    background: none;
  }
  .resume {
    box-shadow: none;
    margin: 0;
  }
  .left-column {
    background: #000 !important;
    color: #fff;
  }
  /* Style the overall container/element */

}
