<div class="contact-container">
          <p class = "contact-item"><strong>Phone:</strong> </p>
        </div>
        <p class = "info">+000 123 456 789</p>
        <div class="contact-container">
          <p class = "contact-item"><strong>Email:</strong></p>
        </div>
        <p class = "info">uname@gmail.com</p>
        <div class="contact-container">
          <p class = "contact-item"><strong>Website:</strong></p>
        </div>
        <p class = "info">www.websitename.com</p>
        <div class="contact-container">
          <p class = "contact-item"><strong>Address:</strong></p>
        </div>
        <p class = "info">55 Street City/Zip Code – 446</p>
      </div>