<h3 class="section-title">Education</h3>
        <div class="section">
          <p><strong>Applied Mathematics</strong><br>Lviv Polytechnic National University<br>2005–2009</p>
          <p><strong>Software Engineering</strong><br>Lviv Polytechnic National University<br>2009–2011</p>
        </div>

        <h3 class="section-title">Reference</h3>
        <div class="section">
          <p><strong>Sara Taylore</strong><br>Director | Activision<br>T: +1 234 56789</p>
          <p><strong>Micke Anderson</strong><br>Web Developer | Microsoft<br>T: +1 234 56789</p>
        </div>