<!-- <div class="skills d-flex justify-content-between">
            <ul></ul>
            <ul>
              <li>Adobe Photoshop</li>
              <progress id="chromeBar" value="70" max="100"></progress>
              <li>Adobe Illustrator</li>
              <progress id="chromeBar" value="85" max="100"></progress>
              <li>Adobe InDesign</li> 
              <progress id="chromeBar" value="85" max="100"></progress>
            </ul>
            <ul>
              <li>Microsoft Word</li>
              <progress id="chromeBar" value="75" max="100"></progress>
              <li>Microsoft PowerPoint</li>
              <progress id="chromeBar" value="60" max="100"></progress>
              <li>HTML / CSS</li>
              <progress id="chromeBar" value="95" max="100"></progress>
            </ul>
</div> -->

<div id="skills-container" class="skills d-flex justify-content-between">
    <!-- Skills will be dynamically inserted here -->