        <!-- Timeline Item 1 -->
<div class="row timeline-item">
            <div class="col-3">
                <p class="job-years">2012-2014</p>
            </div>
            <div class="col-8">
                <div class="job-header"><strong>Web-developer</strong>
                    <button class="toggle-btn arrow-icon">▼</button>
                </div>
                
                <div class="timeline-content-body hidden">
                    <p class="company-name">Microsoft / California USA</p>
                    <p class="job-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the text ever sinc the 1500s when an unknown printer.
                    </p>
                </div>
            </div>
        </div>

        <!-- Timeline Item 2 -->
        <div class="row timeline-item">
            <div class="col-3">
                <p class="job-years">2014-2017</p>
            </div>
            <div class="col-8">
                <div class="job-header"><strong>UI/UX Designer</strong>
                    <button class="toggle-btn arrow-icon">▼</button>
                </div>

                <div class="timeline-content-body hidden">
                 <p class="company-name">Microsoft / California USA</p>
                 <p class="job-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text ever sinc the 1500s when an unknown printer.
                 </p>
                </div>
            </div>
        </div>

        <!-- Timeline Item 3 -->
        <div class="row timeline-item">
            <div class="col-3">
                <p class="job-years">2017-Present</p>
            </div>
            <div class="col-8">
                <div class="job-header"><strong>UI/UX Designer</strong>
                    <button class="toggle-btn arrow-icon">▼</button>
                </div>

                <div class="timeline-content-body hidden">
                    <p class="company-name">Activision / California USA</p>
                    <p class="job-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text ever sinc the 1500s when an unknown printer.
                    </p>
                </div>
            </div>
        </div>